@model AssetActionDetailDTO

<link href="~/css/StyleAction.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>


<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row rowAsset">
            <div class="col-12">
                <div class="card">
                    <div style="padding:30px">
                        <div class="row">
                            <div class="col-md-1">
                                <div style="background-color: gray; border-radius: 100px; width: 60px; height: 60px;">
                                    <h5 style="font-weight: bold; color: white; text-align: center; line-height: 300%; ">ZM</h5> @*Eksik buraya Adı Soyadı baş harfi gelecek*@
                                </div>

                            </div>
                            <div class="col-md-7">
                                <h5 style="font-weight:bold; color:#0a58ca">Varlık</h5>
                                <p>Kayıt No: @Model.RegistrationNumber</p>
                            </div>
                            <div class="col-md-4">
                                <form asp-action="GetActionAsset" asp-controller="AssetAction" method="post">
                                    <div class="input-group">
                                        <div class="col-md-4 RegNumberLbl"><label style="">Kayıt No</label></div>
                                        <input class="form-control" id="assetRegNoInput" asp-for="@Model.RegistrationNumber" type="text" placeholder="" aria-label="Kayıt No" aria-describedby="btnAssetSearch" />
                                        <button class="btn btn-primary" id="assetRegNoBtn" type="submit"><i class="fas fa-search"></i></button>
                                    </div>
                                </form>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-10" style=" margin-top: 3%;">
                                <table class="table table-bordered" id="assetDetailTable">
                                    <thead style="background-color:#EBF5FB;">
                                        <tr>
                                            <th>Kayıt Tarihi</th>
                                            <th>Kayıt Açan</th>
                                            @*<th>Durum</th>*@
                                            <th>Son İşlem</th>
                                            <th>Son İşlem Tarihi</th>
                                            <th>Aksiyon S. Kişi</th>
                                            <th>Aksiyon S. Grup</th>
                                            <th>Aksiyon S. Müşteri</th>
                                            <th>İşlem Açıklama</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@Model.AssetActionListDTO.EntryDate</td>
                                            <td>@Model.AssetActionListDTO.RegisteringRerson</td>
                                            @*<td>@Model.AssetActionListDTO.Status</td>*@
                                            <td>@Model.AssetActionListDTO.LastStatus</td>
                                            <td>@Model.AssetActionListDTO.LastOperationDate</td>
                                            <td>@Model.AssetActionListDTO.ActionPersonnel</td>
                                            <td>@Model.AssetActionListDTO.ActionTeam</td>
                                            <td>@Model.AssetActionListDTO.ActionCustomer</td>
                                            <td>@Model.AssetActionListDTO.Note</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-2" style=" margin-top: 3%;">
                                <div class="dropdown">
                                    <button class="btn" type="button" id="dropdownAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                        <span style="font-weight: bold; font-size: 13px;">Aksiyonlar</span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        @foreach (var item in Model.ActionStatusDTO)
                                        {
                                            <a class="dropdown-item modal-link" data-toggle="modal" data-target="#exampleModal" data-targeturl="@Url.Action("" + item.StatusActionMetod + "", "" + item.StatusController + "", new { assetID = Model.AssetID, statusActionID = item.StatusActionID })" href="#">@item.ActionText </a>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-header">
                        <label style="font-weight: bold; color: #0a58ca;">Ürün Bilgileri</label>
                    </div>
                    <div class="ViewComponentClass">

                        @await Component.InvokeAsync("AssetUpdate", new { assetID = Model.AssetID })
                        @*<partial name="UpdateAsset" />*@
                        @*parametli yada farklı kulla ımı asekron*@
                        @*@await Html.PartialAsync("UpdateAsset")*@
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<script>

    $(document).ready(function () {
        $(function () {
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $("#exampleModal").remove();
                $.get($(this).data("targeturl"), function (data) {
                    $(data).modal('show');
                });
            });
        });
    });

</script>