@model AddAssetVM

<script src="~/lib/jquery/dist/jquery.js"></script>


<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row rowAsset">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <label style="font-weight: bold; color: #0a58ca;">Yeni Varlık Ekleme</label>
                    </div>
                    <div>
                        <form asp-action="AssetAdd" asp-controller="Asset" method="post">
                            <div class="row" style="padding: 40px;">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-check-label lbl-asset">Barkodlu Ürün</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="switch">
                                                <input class="form-check-input" asp-for="IsBarcode" type="checkbox" id="AddAssetCheckID">
                                                <divs class="slider round">
                                                </divs>
                                            </label>
                                        </div>
                                        <div class="row col-md-6" id="AssetWithoutBarcodeDiv">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="lbl-asset"><label class="reqSpan">*</label> Miktar</label>
                                                    <input type="text" asp-for="Quantity" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="lbl-asset"><label class="reqSpan">*</label> Birim</label>
                                                    <select asp-for="UnitID" asp-items="@(new SelectList(Model.Unit))" class="form-control">
                                                        <option value="">Seçiniz</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="form-group">
                                        <label class="lbl-asset"><label class="reqSpan">*</label> Barkod</label>
                                        <div class="input-group">
                                            <input class="form-control py-2 border-right-0 border" asp-for="Barcode" type="text" id="AssetBarcodeInput">
                                            <span class="input-group-append">
                                                <divs class="input-group-text bg-transparent"><i class="fa fa-barcode"></i></divs>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="lbl-asset"><label class="reqSpan">*</label> Ürün Grubu</label>
                                        <select asp-for="GroupID" asp-items="@(new SelectList(Model.Group))" class="form-control">
                                            <option value="">Seçiniz</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="lbl-asset"><label class="reqSpan">*</label> Ürün Tipi</label>
                                        <select asp-for="AssetTypeID" asp-items="@(new SelectList(Model.AssetType))" class="form-control" id="assetTypeSelectID">
                                            <option value="">Seçiniz</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="lbl-asset"><label class="reqSpan">*</label> Marka</label>
                                        <select asp-for="AssetBrandID" asp-items="@(new SelectList(Model.Brand))" class="form-control" id="brandSelectID">
                                            <option value="">Seçiniz</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="lbl-asset"><label class="reqSpan">*</label> Model</label>
                                        @*@Html.DropDownListFor(a => a.OrderDetail.ProductID, Model.Products, "Seçiniz", new { @id = "productID",@class= "form-control" })*@
                                    </div>
                                    <div class="form-group">
                                        <label class="lbl-asset">Garantili mi</label>
                                        <select asp-for="Guarantee" asp-items="@(new SelectList(Model.IsGuarantee.ToString()))" class="form-control">
                                            <option value="">Seçiniz</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="lbl-asset"><label class="reqSpan">*</label> Açıklama</label>
                                        <textarea class="form-control" asp-for="Description" rows="3"></textarea>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="lbl-asset"><label class="reqSpan">*</label> Ürün Giriş Tarihi</label>
                                        <input type="datetime-local" asp-for="EntryDate" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="lbl-asset">Ürün Emeklilik Tarihi</label>
                                        <input type="datetime-local" asp-for="RetireDate" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="lbl-asset">Ürünün Maliyeti</label>
                                        <input type="text" asp-for="Cost" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="lbl-asset">Ürünün Para Birimi</label>
                                        <select asp-for="CurrencyID" asp-items="@(new SelectList(Model.Currency))" class="form-control">
                                            <option value="">Seçiniz</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="lbl-asset">Ürünün Güncel Fiyatı</label>
                                        <input type="text" asp-for="AssetPrice.Price" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="lbl-asset">Ürünün Güncel Fiyat Para Birimi</label>
                                        <select asp-for="AssetPrice.CurrencyID" asp-items="@(new SelectList(Model.Currency))" class="form-control">
                                            <option value="">Seçiniz</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-10"></div>
                                    <div class="col-md-2">
                                        <input type="submit" style=" width: 100%;" name="name" class="btn btn-primary" value="Kaydet" />
                                    </div>

                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<script>
    $(document).ready(function () {

        //Barkodlu-Barkodsuz seçim
        var checkBox = document.getElementById("AddAssetCheckID");
        $("#AddAssetCheckID").click(function () {
            if (checkBox.checked == true) {
                $("#AssetWithoutBarcodeDiv").css({ 'pointer-events': 'none', 'opacity': '0.8' });
                $("#AssetBarcodeInput").css({ 'pointer-events': 'auto', 'opacity': '1', 'background-color': 'white' });
            }
            else {
                $("#AssetWithoutBarcodeDiv").css({ 'pointer-events': 'auto', 'opacity': '1' });
                $("#AssetBarcodeInput").css({ 'pointer-events': 'none', 'opacity': '0.8', 'background-color': '#E5E7E9' });
            }
        });

        //Varlık Tipine göre Marka getir (Cascading olarak geçer)
        $("#assetTypeSelectID").click(function () {
            $.ajax({
                url: "/Test/ProductMailAt",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                type: "get",
                success: function (data) {
                    console.log(data);
                    $.each(data, function (index, val) {


                    });

                },
                failure: function (data) {
                    alert(data);
                },
                error: function (cevap) {
                    alert(cevap);
                }
            });


    });
</script>

