@model IEnumerable<AssetListDTO>
@{
    var count = ViewBag.CountPers;
}



<div class="container-fluid px-4">
    <div class="card mb-4">
        <div class="card-header">
            <ul class="header-ul mt-2">
                <li class="header-li">Kullanımda Olanlar: <span class="tm-top-number" style=" font-size: 20px">@count</span></li>
            </ul>
        </div>
        <div class="card-body">
            <table id="datatablesPersAssetList" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Kayıt Numarası</th>
                        <th>Barkod</th>
                        <th>Ürün Tipi</th>
                        <th>Ürün Güncel Fiyatı</th>
                        <th>Markası</th>
                        <th>Modeli</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th></th>
                            <td>@item.RegistrationNumber</td>
                            <td>@item.Barcode</td>
                            <td>@item.AssetType</td>
                            <td>@item.CurrentPrice</td>
                            <td>@item.AssetBrand</td>
                            <td>@item.AssetModel</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
        @*$(document).ready(function () {
            $('#datatablesPersAssetList').DataTable({
            dom: 'Bfrtip',

            buttons: [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: [0, 1,2,3,4,5,6]
                    },
                    text: '<img src="@Url.Content("~/images/dataTables/copy-min.png")" />'
                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    },
                    text: '<img src="@Url.Content("~/images/dataTables/excel-min.png")" />'
                },
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    },
                    text: '<img src="@Url.Content("~/images/dataTables/pdf-min.png")" />'
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    },
                    text: ' <img src="@Url.Content("~/images/dataTables/print-min.png")" />'
                }

            ]
        });
    });*@

</script>